/* Fonte importeres her */

/* fonte udskrives som font-face her */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");
@import url("https://use.typekit.net/mod5ajw.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* farver defineres her */
:root {
  --backgroundBeige: #fffef4;
  --omadaRed: #ed6251;
  /* bruges istedet for sort til typografier */
  --midnight: #213740;
  --omadaBlue: #2879ff;
}

body {
  background-color: var(--backgroundBeige);
}

a {
  text-decoration: none;
}
/* basis styling af streger */
hr {
  height: 1px;
  border-width: 0;
  color: var(--omadaRed);
  background-color: var(--omadaRed);
  margin: 12px 0;
}
/* Typografier mobil format */

h1 {
  font-family: "aviano-sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.15em;
  color: var(--omadaRed);
}

h2 {
  font-family: "aviano-sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.15em;
  max-width: 900px;
  color: var(--midnight);
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.25em;
  max-width: 900px;
  text-align: center;
  color: var(--omadaRed);
}

h4 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.35em;
  margin-bottom: 10px;
  color: var(--omadaRed);
}

h5 {
  font-family: "aviano-sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 11px;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--midnight);
}
h6 {
  font-family: "aviano-sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.25em;
  color: var(--omadaRed);
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.15em;
  max-width: 900px;
  color: var(--midnight);
}

/* Typografier på Tablet format */
@media (min-width: 600px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.8rem;
    line-height: 50px;
  }

  h4 {
    font-size: 1rem;
    margin-bottom: 16px;
  }

  h5 {
    font-size: 14px;
  }
  p {
    font-size: 1rem;
    line-height: 30px;
    letter-spacing: 0.15em;
    max-width: 900px;
  }
}

/* Typografier på Desktop format */
@media (min-width: 900px) {
  h1 {
    font-size: 4.4rem;
    line-height: 3.5rem;
    letter-spacing: 0.25em;
  }

  h2 {
    font-weight: 600;
    font-size: 50px;
    line-height: 35px;
    letter-spacing: 0.25em;
  }

  h3 {
    font-size: 2.5rem;
    line-height: 65px;
  }

  h4 {
    font-size: 1.5rem;
    line-height: 25px;
    margin-bottom: 20px;
  }

  h5 {
    font-size: 20px;
  }
  p {
    font-size: 1rem;
    line-height: 30px;
    letter-spacing: 0.15em;
    max-width: 900px;
  }
}
