---
import Mainlayout from "../layouts/Mainlayout.astro";
import About from "../components/About.astro";
import "../styles/style.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <script
      src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"
    ></script>
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <div id="loader">
      <div class="loader-container">
        <lottie-player
          src="https://assets5.lottiefiles.com/private_files/lf30_cZ4uMr.json"
          background="transparent"
          speed="1"
          style="width: 300px; height: 300px;"
          loop
          autoplay></lottie-player>
      </div>
    </div>
    <div id="content" class="hidden">
      <Mainlayout />
    </div>
  </body>
</html>

<style>
  .hidden {
    display: none;
  }

  #loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(backgroundBeige);
    z-index: 9999;
  }

  .loader-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>

<script>
  console.log("hej");
  window.addEventListener("load", function () {
    // Skjul loader og vis innholdet på siden
    document.getElementById("loader").style.display = "none";
    document.getElementById("content").classList.remove("hidden");
  });

  window.onload = function() {
        if(!window.location.hash) {
          window.location = window.location + '#loaded';
          window.location.reload();
        }
      }
</script>
