---
import Mainlayout from "../layouts/Mainlayout.astro";
import About from "../components/About.astro";
import "../styles/style.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Omada Wine & Deli</h1>
    <h2>her er en underoverskrift h2</h2>
    <p>hej her er en brødtekst</p>

    <Mainlayout />
    <section>
    </section>
  </body>
</html>
