---
import "../styles/style.css";
---

<section id="deligoods">
  <div id="overskrift"><h3>Deli goods</h3></div>
  <hr />
  <div class="deli-goods">
    <div class="wrapper">
      <button id="left" class="arrow">&#x3c;</button>
      <div class="carousel">
        <img src="../images/produkt1.webp" alt="img" draggable="false" />
        <img src="../images/produkt2.webp" alt="img" draggable="false" />
        <img src="../images/produkt3.webp" alt="img" draggable="false" />
        <img src="../images/produkt5.webp" alt="img" draggable="false" />
        <img src="../images/produkt6.webp" alt="img" draggable="false" />
        <img src="../images/produkt7.webp" alt="img" draggable="false" />
      </div>
      <button id="right" class="arrow">&#x3e;</button>
    </div>
  </div>
</section>

<style>
  /* Mobile first */
  hr {
    width: 60vw;
  }
  #overskrift {
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .deli-goods {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
  }
  .wrapper {
    max-width: 1200px;

    position: relative;
  }
  .wrapper .arrow {
    background-color: var(--omadaRed);
    color: var(--backgroundBeige);
    font-weight: 700;
    font-size: 8px;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
  }
  .wrapper .arrow:first-child {
    left: -9px;
    /* udkommenter her */
    /* display: none; */
  }

  .wrapper .arrow:last-child {
    right: -9px;
  }
  .carousel {
    cursor: pointer;
    font-size: 0px;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
  }

  .carousel.dragging {
    cursor: grab;
    scroll-behavior: auto;
  }
  .carousel.dragging img {
    pointer-events: none;
  }

  img {
    height: 25vw;
    width: calc(100% / 4);
    object-fit: cover;
    margin-left: 6px;
  }

  .carousel img:first-child {
    margin-left: 0px;
  }
  /* tablet format (over 600px)*/
  @media (min-width: 600px) {
    .wrapper .arrow {
      font-size: 12px;
      height: 28px;
      width: 28px;
      line-height: 28px;
    }

    img {
      margin-left: 10px;
    }

    .deli-goods {
      padding: 0 20px;
    }

    .wrapper .arrow:first-child {
      left: -15px;
    }

    .wrapper .arrow:last-child {
      right: -15px;
    }
  }

  /* desktop format (over 900px)*/
  @media (min-width: 900px) {
    .wrapper .arrow {
      font-size: 16px;
      height: 46px;
      width: 46px;
      line-height: 46px;
    }

    img {
      margin-left: 14px;
    }
    .deli-goods {
      padding: 0 35px;
    }

    .wrapper .arrow:first-child {
      left: -23px;
    }

    .wrapper .arrow:last-child {
      right: -23px;
    }
  }
</style>

<script>
  const carousel = document.querySelector(".carousel");
  const firstImg = carousel.querySelectorAll("img")[0];
  const arrowIcons = document.querySelectorAll(".wrapper .arrow");

  let isDragStart = false,
    isDragging = false,
    prevPageX,
    prevScrollLeft,
    positionDiff;

  // udkommenter her
  // const showHideIcons = () => {
  //   let scrollWidth = carousel.scrollWidth - carousel.clientWidth;
  //   arrowIcons[0].style.display = carousel.scrollLeft == 0 ? "none" : "block";
  //   arrowIcons[1].style.display = carousel.scrollLeft == scrollWidth ? "none" : "block";
  // };

  arrowIcons.forEach((icon) => {
    icon.addEventListener("click", () => {
      let firstImgWidth = firstImg.clientWidth + 10; // den forstår ikke clientWidth.....
      carousel.scrollLeft += icon.id == "left" ? -firstImgWidth : firstImgWidth;
      // // udkommenter her
      // showHideIcons();
      // setTimeout(() => showHideIcons(), 60);
    });
  });

  const autoSlide = () => {
    if (carousel.scrollLeft == carousel.scrollWidth - carousel.clientWidth) return;

    positionDiff = Math.abs(positionDiff);
    let firstImgWidth = firstImg.clientWidth + 10;
    let valDifference = firstImgWidth - positionDiff;
    if (carousel.scrollLeft > positionDiff) {
      console.log("bruger scroller til højre");
      return (carousel.scrollLeft += positionDiff > firstImgWidth / 4 ? valDifference : -positionDiff);
    }
    return (carousel.scrollLeft -= positionDiff > firstImgWidth / 4 ? valDifference : -positionDiff);
  };

  const dragStart = (e) => {
    isDragStart = true;
    prevPageX = e.pageX || e.touches[0].pageX;
    prevScrollLeft = carousel.scrollLeft;
  };

  const dragging = (e) => {
    if (!isDragStart) return;
    e.preventDefault();
    isDragging = true;
    carousel.classList.add("dragging");
    positionDiff = (e.pageX || e.touches[0].pageX) - prevPageX;
    carousel.scrollLeft = prevScrollLeft - positionDiff;
    // udkommenter her
    // showHideIcons();
  };

  const dragStop = () => {
    let isDragStart = false;
    carousel.classList.remove("dragging");
    if (!isDragging) return;
    isDragging = false;
    autoSlide();
  };

  carousel.addEventListener("mousedown", dragStart);
  carousel.addEventListener("touchstart", dragStart);

  carousel.addEventListener("mousemove", dragging);
  carousel.addEventListener("touchmove", dragging);

  carousel.addEventListener("mouseup", dragStop);
  carousel.addEventListener("mouseleave", dragStop);
  carousel.addEventListener("touchend", dragStop);
</script>
