---
import "../styles/style.css";
---

<section id="deligoods">
  <div id="overskrift"><h3>Deli goods</h3></div>
  <hr />
  <div class="carousel">
    <img src="../images/produkt1.webp" alt="img" draggable="false" />
    <img src="../images/produkt2.webp" alt="img" draggable="false" />
    <img src="../images/produkt3.webp" alt="img" draggable="false" />
    <img src="../images/produkt5.webp" alt="img" draggable="false" />
    <img src="../images/produkt6.webp" alt="img" draggable="false" />
    <img src="../images/produkt7.webp" alt="img" draggable="false" />
  </div>
</section>

<style>
  /* Mobile first */
  hr {
    width: 60vw;
  }
  #overskrift {
    display: flex;
    text-align: center;
    justify-content: center;
  }

  img {
    width: 100px;
    height: 120px;
    object-fit: cover;
    margin: 6px;
  }
  .carousel {
    display: flex;
    overflow-x: scroll;
  }

  @media (min-width: 600px) {
    img {
      width: 250px;
      height: 250px;
    }
  }

  /* desktop format (over 900px)*/
  @media (min-width: 900px) {
    img {
      width: 300px;
      height: 300px;
    }
  }
</style>
