---
import "../styles/style.css";
---

<section>
  <!-- Her laves al indhold til denne sektion -->
  <hr class="line1" />
  <div class="center">
    <div class="info">
      <h2>OMADA WINE & DELI</h2>
      <p>Øster Farimagsgade 26</p>
      <p>2100 København Ø</p>

      <div class="open">
        <div class="day">
          <p>Wednesdays</p>
          <p>11-20</p>
        </div>
        <div class="day">
          <p>Thursdays</p>
          <p>11-20</p>
        </div>
        <div class="day">
          <p>Fridays</p>
          <p>11-20</p>
        </div>
        <div class="day">
          <p>Saturdays</p>
          <p>11-20</p>
        </div>
        <div class="day">
          <p>Sundays</p>
          <p>11-20</p>
        </div>
      </div>
    </div>
    <div class="illu-some">
      <img class="deli-illu" src="../illustrations/deli.webp" alt="omada wine and del illustration" />
      <p>Catch us here</p>
      <div class="some">
        <a href="http://instagram.com/omada.wine?_ga=2.70791312.1834822480.1682234872-626147275.1679903824" target="_blank"> <img class="some-logo" src="../some/instagram-logo.svg" alt="instagram logo" /></a>
        <a href="mailto:hello@omada.wine" target="_blank"> <img class="some-logo" src="../some/mail-logo.svg" alt="instagram logo" /></a>
        <a href="http://facebook.com/omada.wine?_ga=2.135281841.1834822480.1682234872-626147275.1679903824" target="_blank"> <img class="some-logo" src="../some/facebook-logo.svg" alt="instagram logo" /></a>
      </div>
    </div>
  </div>
  <hr class="line2" />
  <hr class="line3" />
</section>

<style>
  /* Mobile first */
  p {
    font-weight: 400;
    font-size: 10px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.25em;
  }
  h2 {
    color: var(--omadaRed);
    text-align: center;
    width: 220px;
    padding: 0 0 24px 0;
  }
  .open {
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding: 24px 0;
  }
  .day {
    display: flex;
    justify-content: space-between;
    padding: 8px 20px;
  }

  hr {
    width: 50%;
    text-align: left;
  }
  .center {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
  }
  .some {
    display: flex;
    justify-content: space-around;
    margin: 10px;
  }
  .deli-illu {
    display: none;
    width: 45vw;
    margin-bottom: 20px;
  }
  .some-logo {
    height: 27px;
  }

  .line1 {
    width: 85vw;
  }
  .line2 {
    width: 55vw;
    margin: 25px 0;
  }
  .line3 {
    width: 75vw;
  }

  /* tablet format (over 600px)*/
  @media (min-width: 600px) {
    p {
      font-size: 14px;
    }
    h2 {
      width: 330px;
    }
    .open {
      width: 330px;
    }
    .line1 {
      margin: 25px 0;
    }
  }

  /* desktop format (over 900px)*/
  @media (min-width: 900px) {
    p {
      font-size: 16px;
      text-align: left;
    }
    .day p {
      font-size: 14px;
    }
    .day {
      padding: 0;
    }

    h2 {
      font-size: 1.5rem;
      width: 370px;
    }
    .open {
      width: 330px;
      padding: 20px 30px 20px 0;
      justify-self: left;
    }

    .deli-illu {
      display: block;
    }
    .some {
      margin: 10px 0;
      padding: 0 10px;
      width: 154.22px;
      justify-content: space-between;
    }

    .center {
      align-content: initial;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .info {
      padding: 20px;
    }

    .illu-some {
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: end;
    }
  }
</style>
