---
import "../styles/style.css";
---

<section>
  <!-- Her laves al indhold til denne sektion -->
  <hr class="line1" />
  <div class="center">
    <h2>OMADA WINE & DELI</h2>
    <p>Øster Farimagsgade 26</p>
    <p>2100 København Ø</p>

    <div class="open">
      <div class="day">
        <p>Wednesdays</p>
        <p>11-20</p>
      </div>
      <div class="day">
        <p>Thursdays</p>
        <p>11-20</p>
      </div>
      <div class="day">
        <p>Fridays</p>
        <p>11-20</p>
      </div>
      <div class="day">
        <p>Saturdays</p>
        <p>11-20</p>
      </div>
      <div class="day">
        <p>Sundays</p>
        <p>11-20</p>
      </div>
    </div>

    <p>Catch us here</p>
  </div>
  <hr class="line2" />
  <hr class="line3" />
</section>

<style>
  /* Mobile first */
  p {
    font-weight: 400;
    font-size: 10px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.25em;
  }
  h2 {
    color: var(--omadaRed);
    text-align: center;
    width: 220px;
    padding: 0 0 24px 0;
  }
  .open {
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding: 24px 0;
  }
  .day {
    display: flex;
    justify-content: space-between;
    padding: 8px 20px;
  }

  hr {
    width: 50%;
    text-align: left;
  }
  .center {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
  }
  /* tablet format (over 600px)*/
  @media (min-width: 600px) {
  }

  /* desktop format (over 900px)*/
  @media (min-width: 900px) {
    p {
      font-size: 13px;
    }
    .day p {
      font-size: 11px;
    }
  }

  /* sørger for at sektionerne på en meget stor skærm ikke bliver for brede */
  section {
    max-width: 1500px;
  }
</style>
