---
import "../styles/style.css";
import About from "../components/About.astro";
import Deligoods from "../components/Deligoods.astro";
import Instagram from "../components/Instagram.astro";
import Menu from "../components/Menu.astro";
import Tastings from "../components/Tastings.astro";
---

<header id="header">
  <div id="liste">
    <ul>
      <li><a href="#about_sec" class="underline-effect">ABOUT</a></li>
      <li><a href="#menu" class="underline-effect">SELECTIONS</a></li>
      <li><a href="#tastings" class="underline-effect">TASTINGS</a></li>
      <li><a href="#deligoods" class="underline-effect">DELI GOODS</a></li>
      <li><a href="#instagram" class="underline-effect">SOCIALS</a></li>
    </ul>
  </div>
  <div id="deli">
    <img
      src="../illustrations/delicaties.svg"
      alt="Delikatesse food illustration"
    />
  </div>
  <h1>OMADA WINE & DELI</h1>
  <div id="time"><h5>Open wed-sun 11-20</h5></div>
</header>

<style>
  /* Mobile first */

  html {
    scroll-behavior: smooth;
  }
  #deli {
    display: flex;
    align-content: right;
    justify-content: right;
    margin-left: 10%;
  }
  img {
    width: 60%;
    margin-top: 8%;
  }

  h1 {
    text-align: center;
    margin-top: 7%;
    margin-bottom: 2%;
    font-size: 1.5rem;
  }

  #liste {
    position: absolute;
    line-height: 1.4em;
    background-color: var(--backgroundBeige);
    opacity: 90%;
    z-index: 1;
    padding: 1%;
    padding-left: 3%;
    padding-top: 2%;
  }

  ul {
    list-style-type: none;
    text-align: left;
  }

  li a {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 0.15em;
    max-width: 900px;
    color: var(--midnight);
  }

  .underline-effect {
    display: inline-block;
    position: relative;
  }

  .underline-effect::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: var(--omadaRed);
    transition: width 0.5s ease-out;
  }
  #time {
    padding: 0.1%;
    background-color: var(--omadaBlue);
  }

  h5 {
    margin-top: 2%;
    margin-bottom: 2%;
    color: var(--backgroundBeige);
  }

  /* tablet format (over 600px)*/
  @media (min-width: 600px) {
    h5 {
      font-size: 20px;
      margin-top: 2%;
      margin-bottom: 2%;
      color: var(--backgroundBeige);
    }
    h1 {
      margin-bottom: 5%;
      margin-top: 5%;
      font-size: 40px;
    }
    img {
      width: 60%;
      margin-top: 5%;
    }

    #liste {
      position: fixed;
      line-height: 2.5em;
      background-color: var(--backgroundBeige);
      opacity: 90%;
      z-index: 1;
      padding: 1%;
    }

    ul {
      list-style-type: none;
      text-align: left;
    }

    li a {
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      font-size: 15px;
      letter-spacing: 0.15em;
      max-width: 900px;
      color: var(--midnight);
    }

    .underline-effect {
      display: inline-block;
      position: relative;
    }

    .underline-effect::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 2px;
      background-color: var(--omadaRed);
      transition: width 0.5s ease-out;
    }

    .underline-effect:hover::before {
      width: 100%;
      left: 0;
      right: auto;
    }
    #time {
      padding: 0.1%;
      background-color: var(--omadaBlue);
    }
  }

  /* desktop format (over 900px)*/
  @media (min-width: 900px) {
    img {
      width: 50%;
      margin-bottom: 0;
      margin-top: 5%;
    }
    h1 {
      margin-bottom: 3%;
      margin-top: 6%;
      font-size: 3.5rem;
    }

    h5 {
      font-size: 25px;
      margin-top: 2%;
      margin-bottom: 2%;
      color: var(--backgroundBeige);
    }
    #liste {
      position: fixed;
      line-height: 3em;
      background-color: var(--backgroundBeige);
      opacity: 90%;
      z-index: 1;
      padding: 2%;
    }

    ul {
      list-style-type: none;
      text-align: left;
    }

    li a {
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      font-size: 20px;
      letter-spacing: 0.15em;
      max-width: 900px;
      color: var(--midnight);
    }

    .underline-effect {
      display: inline-block;
      position: relative;
    }

    .underline-effect::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 2px;
      background-color: var(--omadaRed);
      transition: width 0.5s ease-out;
    }

    .underline-effect:hover::before {
      width: 100%;
      left: 0;
      right: auto;
    }

    #time {
      padding: 0.1%;
      background-color: var(--omadaBlue);
    }
  }

  @media (min-width: 1400px) {
    img {
      width: 50%;
      margin-bottom: 0;
      margin-top: 0;
    }
    h1 {
      margin-bottom: 3%;
      margin-top: 2%;
      font-size: 4.4rem;
      line-height: 3.5rem;
      letter-spacing: 0.25em;
    }

    h5 {
      font-size: 25px;
      margin-top: 1.5%;
      margin-bottom: 1.5%;
      color: var(--backgroundBeige);
    }
    #liste {
      position: fixed;
      line-height: 3em;
      background-color: var(--backgroundBeige);
      opacity: 90%;
      z-index: 1;
      padding: 2%;
    }

    ul {
      list-style-type: none;
      text-align: left;
    }

    li a {
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      font-size: 20px;
      letter-spacing: 0.15em;
      max-width: 900px;
      color: var(--midnight);
    }

    .underline-effect {
      display: inline-block;
      position: relative;
    }

    .underline-effect::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 2px;
      background-color: var(--omadaRed);
      transition: width 0.5s ease-out;
    }

    .underline-effect:hover::before {
      width: 100%;
      left: 0;
      right: auto;
    }

    #time {
      padding: 0.1%;
      background-color: var(--omadaBlue);
    }
  }
</style>
