---
import "../styles/style.css";
---

<section id="instagram">
  <div id="overskrift">
    <h3>Instagram</h3>
  </div>
  <div>
    <hr />
    <a
      href="https://www.instagram.com/omada.wine/?_ga=2.42469542.2006333102.1682262415-578127396.1680159185"
      target="_blank"
    >
      <div id="tag">
        <h4 id="at">@</h4>
        <h4>omada.wine</h4>
      </div></a
    >
  </div>
  <div id="insta">
    <a
      href="https://www.instagram.com/omada.wine/?_ga=2.42469542.2006333102.1682262415-578127396.1680159185"
      target="_blank"
    >
      <img src="../images/manddrik.png" alt="SoMe billede" /></a
    >
    <a
      href="https://www.instagram.com/omada.wine/?_ga=2.42469542.2006333102.1682262415-578127396.1680159185"
      target="_blank"
    >
      <img src="../images/krydderier1.png" alt="SoMe billede" /></a
    >
    <a
      href="https://www.instagram.com/omada.wine/?_ga=2.42469542.2006333102.1682262415-578127396.1680159185"
      target="_blank"
    >
      <img src="../images/vinhaeld.png" alt="SoMe billede" /></a
    >
  </div>
</section>

<style>
  /* Mobile first */

  #tag {
    display: flex;
    text-align: right;
    justify-content: right;
  }

  h4 {
    color: var(--midnight);
  }

  #at {
    color: var(--midnight);
  }

  hr {
    width: 60vw;
    margin-left: 40%;
  }

  #insta {
    display: flex;
    justify-content: space-evenly;
    max-width: 100vw;
    align-items: center;
  }

  img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  #overskrift {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
  }
  /* tablet format (over 600px)*/
  @media (min-width: 600px) {
    img {
      width: 250px;
      height: 250px;
      object-fit: cover;
    }
  }

  /* desktop format (over 900px)*/
  @media (min-width: 900px) {
    img {
      width: 300px;
      height: 300px;
      object-fit: cover;
    }
  }

  @media (min-width: 1200px) {
    img {
      width: 350px;
      height: 350px;
      object-fit: cover;
    }
  }

  /* sørger for at sektionerne på en meget stor skærm ikke bliver for brede */
  section {
    max-width: 1500px;
  }
</style>
