---
import "../styles/style.css";
---

<section>
  <h3>Instagram</h3>
  <hr>
</section>

<style>
  /* Mobile first */
  h3 {
    color: var(--omadaRed);
  }

  hr{
    
  }

  /* tablet format (over 600px)*/
  @media (min-width: 600px) {
  }

  /* desktop format (over 900px)*/
  @media (min-width: 900px) {
  }

  /* sørger for at sektionerne på en meget stor skærm ikke bliver for brede */
  section {
    max-width: 1500px;
  }
</style>
