---
import "../styles/style.css";
---

<section id="menu">
  <h5>TRY OUR LOCALLY SOURCED DELICACIES</h5>
  <div class="container-deli">
    <img src="../illustrations/delicaties.svg" alt="Delikatesse food illustration" id="deli" />
  </div>
  <h5>TASTE OUR SELECTION OF NATURAL WINES</h5>
  <div class="container">
    <div class="wine-container">
      <img class="wine" src="../illustrations/White@2x-1.webp" alt="wine illustration" />
      <h6>white</h6>
    </div>
    <div class="wine-container">
      <img class="wine" src="../illustrations/Orange@2x-2.webp" alt="wine illustration" /><h6>orange</h6>
    </div>
    <div class="wine-container">
      <img class="wine" src="../illustrations/Rose@2x-2.webp" alt="wine illustration" /><h6>rosé</h6>
    </div>
    <div class="wine-container">
      <img class="wine" src="../illustrations/Red@2x-1.webp" alt="wine illustration" /><h6>red</h6>
    </div>
    <div class="wine-container">
      <img class="wine" src="../illustrations/Bubbles-Copy@2x.webp" alt="wine illustration" /><h6>Bubbles</h6>
    </div>
    <div class="wine-container">
      <img class="wine" src="../illustrations/Mixed-fermentation@2x-1.webp" alt="wine illustration" /><h6>Mixed <br /> fermentation</h6>
    </div>
  </div>
</section>

<style>
  /* Mobile first */
  #menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container {
    display: flex;
    overflow-x: scroll;
  }
  .wine-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .wine {
    height: 100px;
    margin: 10px;
  }
  h6 {
    text-transform: uppercase;
  }
  h5 {
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .container-deli {
    display: flex;
    justify-content: center;
  }

  #deli {
    width: 70%;
  }

  /* tablet format (over 600px)*/
  @media (min-width: 600px) {
    h5 {
      font-size: 25px;
    }
    #deli {
      width: 50%;
    }

    .wine {
      height: 150px;
      margin: 20px;
    }
  }
  /* desktop format (over 900px)*/
  @media (min-width: 900px) {
    h5 {
      font-size: 30px;
    }
    #deli {
      width: 50%;
    }
  }
</style>
