---
import "../styles/style.css";
---

<section>
  <!-- Her laves al indhold til denne sektion -->

  <div id="overskrift"><h3>Tastings & Functions</h3></div>
  <hr class="line1" />
  <hr class="line2" />
  <div class="tastings-container">
    <hr class="border-line-over" /><div class="open-tastings">
      <div class="button-display">
        <h4>Puplic tastings</h4><div class="button-down"></div>
      </div>

      <!-- open tastings åbne vindue -->
      <article class="public">
        <h5>Open Wine Tasting</h5>
        <p>Once a month you’re invited to join our open wine tasting and sample the curated selection of natural wines in omada.wine’s monthly subscription box.</p>
        <div class="price">
          <p class="dkk">DKK 145,-</p>
          <p class="note">per person <br /> including 6 tasting glasses.</p>
        </div>
        <p>Check out this page, subscribe to our newsletter or social media for upcoming dates.</p>
      </article>
    </div><hr class="border-line-under" />

    <hr class="border-line-over" /><div class="open-tastings">
      <div class="button-display">
        <h4>Private tastings</h4><div class="button-down"></div>
      </div>
      <!-- private tastings åbne vindue -->
      <article class="private">
        <h5>Open Wine Tasting</h5>
        <p>Once a month you’re invited to join our open wine tasting and sample the curated selection of natural wines in omada.wine’s monthly subscription box.</p>
        <div class="price">
          <p class="dkk">DKK 145,-</p>
          <p class="note">per person <br /> including 6 tasting glasses.</p>
        </div>
        <p>Check out this page, subscribe to our newsletter or social media for upcoming dates.</p>
      </article>
    </div>
    <hr class="border-line-under" />

    <hr class="border-line-over" /><div class="open-tastings">
      <div class="button-display">
        <h4>Private functions</h4><div class="button-down"></div>
      </div>
      <!-- private functions åbne vindue -->
      <article class="functions">
        <h5>Open Wine Tasting</h5>
        <p>Once a month you’re invited to join our open wine tasting and sample the curated selection of natural wines in omada.wine’s monthly subscription box.</p>
        <div class="price">
          <p class="dkk">DKK 145,-</p>
          <p class="note">per person <br /> including 6 tasting glasses.</p>
        </div>
        <p>Check out this page, subscribe to our newsletter or social media for upcoming dates.</p>
      </article>
    </div><hr class="border-line-under" />
  </div>
</section>

<style>
  /* Mobile first */
  .tastings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  /* justerer de ydre kanter rundt om menuerne */
  .tastings-container .open-tastings {
    min-width: 200px;
    border-left: 1px var(--omadaRed) solid;
    border-right: 1px var(--omadaRed) solid;
  }

  /* justerer de øvre og nedre kanter rundt om menuerne */
  .border-line-over {
    width: 180px;
    margin: 5px;
  }

  .border-line-under {
    width: 180px;
    margin: 5px 5px 20px;
  }

  .tastings-container div .price {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  article {
    width: 285px;
    margin: 5px 15px;
  }
  .public {
    /* sørg for at den kan åbne, når man klikker på knappen */
    display: none;
  }
  .private {
    /* sørg for at den kan åbne, når man klikker på knappen */
    display: none;
  }
  .functions {
    /* sørg for at den kan åbne, når man klikker på knappen */
    display: none;
  }
  .price p {
    line-height: 10px;
  }
  .dkk {
    font-family: "aviano-sans", sans-serif;
    font-weight: 700;
    padding: 20px 0 5px;
  }

  .note {
    font-style: italic;
    font-size: 8px;
    padding: 0 0 20px;
  }
  h4 {
    text-align: center;
    margin-bottom: 0;
    line-height: 30px;
  }

  #overskrift {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 5%;
  }
  .line1 {
    width: 83vw;
  }
  .line2 {
    width: 93vw;
    margin-left: 7%;
  }

  .button-display {
    display: flex;
    justify-content: center;
  }

  .button-up,
  .button-down {
    position: relative;
    padding: 5px;
    margin: 5px;
    background: var(--backgroundBeige);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    transition: all 0.2s linear;
  }

  .button-down:hover {
    transform: translate3d(0, 5px, 0);
  }

  .button-up:hover {
    transform: translate3d(0, -5px, 0);
  }

  .button-up::after,
  .button-down::after {
    content: "";
    position: absolute;
    left: 6.4px;
    display: block;
    width: 5px;
    height: 5px;
    border-top: 2px solid var(--omadaRed);
    border-left: 2px solid var(--omadaRed);
  }
  .button-up::after {
    top: 2px;
    transform: rotate(45deg);
  }

  .button-down::after {
    top: 5.5px;
    transform: rotate(225deg);
  }

  /* tablet format (over 600px)*/
  @media (min-width: 600px) {
  }

  /* desktop format (over 900px)*/
  @media (min-width: 900px) {
  }

  /* sørger for at sektionerne på en meget stor skærm ikke bliver for brede */
  section {
    max-width: 1500px;
  }
</style>
