---
const { navn, beskrivelse } = Astro.props;
---

<li class="testimonial">
  <h6>{navn}</h6>
  <p>{beskrivelse}</p>
</li>

<style>
  .testimonial {
    list-style: none;
    margin: 10px;
  }
  h6 {
    color: var(--omadaRed);
    max-width: 120px;
    text-align: left;
  }

  p {
    min-width: 120px;
    word-break: break-word;
  }
  @media (min-width: 600px) {
    p {
      min-width: 200px;
    }
  }
  @media (min-width: 900px) {
    p {
      min-width: 280px;
    }
  }
</style>
